@media screen only (min-width: 720px) and (max-width: 1280px) {}

* {
    margin: 0;
    padding: 0;
}

.opening-animation {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    animation-name: opening-animation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.anim1 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 15%;
    clip-path: polygon(0 0, 100vw 12.5vh, 100vw 0vh);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, .75, 1.25);
}

.anim2 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 20%;
    clip-path: polygon(0 0, 100vw 50vh, 100vw 12.5vh);
}

.anim3 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 15%;
    clip-path: polygon(0 0, 100vw 100vh, 100vw 50vh);
}

.anim4 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 20%;
    clip-path: polygon(0 0, 100vw 100vh, 50vw 100vh);
}

.anim5 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 15%;
    clip-path: polygon(0 0, 50vw 100vh, 12.5vw 100vh);
}

.anim6 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 20%;
    clip-path: polygon(0 0, 12.5vw 100vh, 0 100vh);
}

@keyframes opening-animation {
    0% {
        opacity: 25%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

.nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5vh 0 1.5vh 0;
    background-color: gray;
    opacity: 30%;
    border-bottom: groove white;
    box-shadow: 0 4px silver;
}

.nav a {
    flex-direction: row;
    padding: 0.9em 8.66vw 0.9em 8.66vw;
    margin: auto;
    border: 1em gray;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.nav a:hover {
    color: white;
    background-color: #333;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#welcome-section {
    height: 100vh;
    margin: 10vh 50px 0px 50px;
}

.head {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 50px;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 20px; */
    margin-bottom: 100px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    border: solid;
    border-radius: 10px;
    box-shadow: 1px 3px gray;
    padding: 20px;
}

.project-tile img {}

.project-tile a {}